DATABASE_URL=libsql://rizky-fitri-akbar-rizkialimaulana.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODk4NTA3OTksImlkIjoiMDFhMGJiNmEtMDMwMS03ZGIxLThjZjAtMTNiMWM2Mzc4MDNhIiwia2lkIjoiNlBkM0Z4UGJPQ295TFRwUnp1VVhuV1RHdWNZbV92RFVUQTZfbFVfMjFkWSIsInJpZCI6ImFjNTIzMmY1LTQzNTAtNDRjMS1iYjYzLTc4NmY1MjcyYjRmMSJ9.MMWQcWMK293CYabU7TmNDxqiFtvG7kWcxJc76EETG3vp4iahnVcJshzjC-8QB6NRNOwpnGUizucr3QbGlqrKCw
AUTH_USERNAME=admin
AUTH_PASSWORD=rizky
AUTH_SECRET=ganti-secret-produksi